<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section id="header">
        <a href="#"><img src="../img/logo.png" class="logo" width="140px"></a>
        <div>
            <ul id="navbar">
                <li><a href="..\index.html">Inicio</a></li>
                <li><a href="./room.html">Habitaiones</a></li>
                <li><a href="./gastronomy.html">Gatronomia</a></li>
                <li><a href="./contact.html" class="active">Contacto</a></li>
                <a href="#"><i id="close" class="fa-solid fa-x"></i></a>
            </ul>
        </div>
        <!--Mobil-->
        <div id="mobile">
            <a href="../material/carrito.html"><i  class="fa-solid fa-bag-shopping"></i></a>
            <i id="bar" class="fa-solid fa-bars active"></i>
        </div>
    </section>
    <!--inicio-->

    <section id="page-header1" class="section-p1">
        <h2>#Contactanos</h2>
        <p>¡DEJA UN MENSAJE, nos encanta saber de ti!</p>
    </section>

    <!---->
    <section id="contact-details" class="section-p1">
        <div class="details">
            <span>Visite la ubicación de la agencia de una hora o contáctenos hoy</span>
            <h3>Tienda Central</h3>

            <div>
                <li>
                    <i class="fa-solid fa-map-location-dot"></i>
                    <p>Casita en nose donde</p>
                </li>
                <li>
                    <i class="fa-solid fa-phone"></i>
                    <p>+503 1234-1234</p>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p>
                    <address>tiendaZoe@zoe.com</address>
                    </p>
                </li>
                <li>
                    <i class="fa-solid fa-clock"></i>
                    <p>Lunes-Viernes 8-9pm</p>
                </li>
            </div>
        </div>
        <div class="map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15506.79106736963!2d-89.29659217362256!3d13.676132846342101!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f632efecd1b393f%3A0x8654f3d2ae534961!2sCAPUCOM!5e0!3m2!1ses-419!2ssv!4v1657636527181!5m2!1ses-419!2ssv"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>

    <!---->
    <section id="form-details">
        <form action="">
            <span>DEJANOS UN MENSAJE</span>
            <h2>Nos Encantaria Saber Tú Experiencia</h2>
            <textarea name="" id="" cols="30" rows="10" placeholder="Su cometario"></textarea>
            <button class="normal">Enviar</button>
         
        </form>
        <div class="people">
            <div>
                <img src="../img/people/0718d4d65349c04422dbe2fb42a897af.jpg" width="90px" height="90px"
                    style="border-radius: 50px ;" alt="" srcset="">
                <p><span>Emma Stone</span>Senior Marketing Manager <br> Telefono: +503 1234-1234 <br> Correo:
                    cotactoDesarrollo@bd2exes.com</p>
            </div>
            <div>
                <img src="../img/people/15882574923068.jpg" width="90px" height="90px" style="border-radius: 50px ;"
                    alt="" srcset="">
                <p><span>Johana Carranza</span>Senior Marketing Manager <br> Telefono: +503 2234-3234 <br>Correo:
                    cotacto@exes.com</p>
            </div>
            <div>
                <img src="../img/people/pelo3-783x1024.jpg" width="90px" height="90px" style="border-radius: 50px ;"
                    alt="" srcset="">
                <p><span>BD24K</span>Desarrollador Web <br> Telefono: +503 1234-1234 <br> Correo:
                    cotactodesarrollo@bd24k.com</p>
            </div>
            <div>
                <img src="../img/people/c56bebe30a15e00878d74fa7a86a2f60.jpg" width="90px" height="90px"
                    style="border-radius: 50px ;" alt="" srcset="">
                <p><span>Carola Benrlitom</span>Senior Marketing Manager <br> Telefono: +503 1234-1234 <br> Correo:
                    cotactoDesarrollo@eses.com</p>
            </div>
        </div>
    </section>

    <!--imagen correos-->
    <section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Regístrese para recibir boletines</h4>
            <p>Reciba actualizaciones por correo electrónico sobre nuestra última tienda y <span>ofertas
                    especiales.</span></p>
        </div>
        <div class="form">
            <input type="text" placeholder="
            Su dirección de correo electrónico">
            <button class="normal">Inscribirse</button>
        </div>
    </section>
</body>
</html>