    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
    }

    body {
        width: 100%;
    }

    #header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 80px;
        width: 100%;
        background: hsla(0, 0%, 0%, 0.452);
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
    }

    #header-color {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 80px;
        width: 100%;
        background: #072C2B;
        z-index: 999;
        position: fixed;
        top: 0;
        left: 0;
    }

    ul {
        margin-left: auto;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar li {
        list-style: none;
        padding: 0 20px;
        position: relative;
    }

    #navbar li a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 200;
        color: #ffffff;
    }

    #navbar li a:hover,
    #navbar li a.active {
        color: #003E52;
        background-color: #C9FFFD;
        font-size: 16px;
        font-weight: 200;
        padding: 6px 16px;
        border-radius: 5px;
    }


    /*Home*/




    /*Home*/



    .section-p1 {
        padding: 30px 25px;
    }

    .reserve-btn li {
        list-style: none;
    }

    #fondo-gastranomia2 button {
        margin: 0 auto;
    }

    #fondo-gastranomia2 button,
    .map .card-body button,
    #fondo button,
    .reserve-btn button,
    .reserve-btn2 button,
    #fondoFinal button {
        font-size: 15px;
        font-weight: 200;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 10px 32px;
        background-color: rgba(201, 255, 253, 1);
        display: flex;
        align-items: center;
        gap: 3px;
    }


    #fondo-gastranomia2 button:hover,
    button:hover,     .map .card-body button:hover,
    .reserve-btn button:hover,
    #fondo .textFondo button:hover,
    .reserve-btn2 button,
    #fondoFinal button:hover {
        background-color: #003E52;
        color: rgba(201, 255, 253, 1);
        cursor: pointer;
        font-weight: 200;
        font-size: 15px;
    }

    .fondo {
        height: 100vh;
        width: 100%;
    }

    #fondo {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/Inicio/hotel-equinoccio-vista-aerea.webp);
        height: 100vh;
        width: 100%;
        background-size: cover;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
    }

    #fondo-cotacto {
        background-image: url(../img/Contacto/Equinoccio\ Noviembre-494.webp);
        height: 80vh;
        width: 100%;
        
        background-position: 0 -135px;
        background-size: cover;
        position: relative;
    
        z-index: 1;
    }



    #fondo h1 {
        color: #ffffff;
        font-size: 48px;
        font-family: "Playfair Display", serif;
        width: 700;
        margin-bottom: 25px;
    }

    #fondo p {
        color: #ffffff;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        width: 400;
        margin-bottom: 25px;
    }

    .textFondo {
        margin-bottom: -56vh;
    }

    #fondo .textFondo {
        text-align: center;
    }

    #fondo .textFondo button {
        margin: 0 auto;
    }

    /* Room */
    #Room {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        text-align: center;
        background-color: #F2FBFA;
    }

    .fe-box {
        width: 380px;
        text-align: center;
        padding: 25px 15px;
        background: #ffffff;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.033);
        border: 1px solid #F2FBFA;
        border-radius: 4px;
        margin: 5px;
    }

    .fe-box img {
        width: 100%;
        margin-bottom: 10px;
    }

    .row1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        /* margin-right: -15px; */
        margin-left: 55px;
    }

    .row {
        padding: 10px;
    }

    .textRoom {
        font-size: 16px;
    }

    p {
        font-size: 12px;
        padding: 3px;
    }

    #Room h1 {
        color: #246161;
        font-weight: 400;
        font-family: "Playfair Display", serif;
    }

    #Room h6 {
        color: #18181B;
        font-weight: 400;
        font-size: 23px;
        font-family: "Playfair Display", serif;
    }

    #Room a {
        width: 90%;
        height: 40px;
        border: none;
        background: #C9FFFD;
        color: #003E52;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 3px;
    }

    button span {
        font-weight: 300;
    }

    #Room a:hover {
        width: 90%;
        height: 40px;
        border: none;
        color: #C9FFFD;
        background: #003E52;
    }

    /**/

    .grid-card-container {

        margin-top: -150px;
        width: 895px;
        height: 60vh;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.2rem;
        grid-auto-rows: 10rem;
    }

    .grid-card {
        position: relative;
        background: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0;
    }

    .grid-card-container {
        margin: 0;
        margin-left: 85px;
    }
    #GaleriaHome {
        margin-bottom: 50px;
        padding: 25px;
    }

    #Galeria {
        margin-bottom: 50px;
        padding: 25px;
    }

    #GaleriaHome #contact-details {
    
        display: flex;
        justify-content: space-between;
        padding: 100px 45px;
         margin-left: 35px;
        margin-bottom: 55px; 
    }

    .grid-card:nth-child(1),
    .grid-card:nth-child(2) {
        width: 15vw;
        height: auto;
        padding-left: 250px;
        margin-left: 0;
    }


    .grid-card:nth-child(1) {
        grid-row: 1/1;
        background-image: url('../img/Inicio/Galeria/hombre-montado-en-jetski.webp');

    }

    .grid-card:nth-child(2) {
        background-image: url('../img/Inicio/Galeria/hombre-montado-en-kayak.webp');

    }

    .grid-card:nth-child(3) {
        width: 25vw;
    }

    .grid-card:nth-child(3) {
        grid-row: 1/3;
        background-image: url('../img/Inicio/Galeria/hotel-equinoccio-vista-atardecer-muelle.webp');
    }

    .grid-card:nth-child(4) {
        width: 37vw;
        height: auto;
    }

    .grid-card:nth-child(4) {
        grid-row: 1/3;
        background-image: url('../img/Inicio/Galeria/hotel-equinoccio-vista-interna.webp');
    }

    .grid-card:nth-child(5) {
        width: 37vw;
        height: auto;
        grid-row: 1/3;
        background-image: url('../img/Inicio/Header/logo-equinoccio-color.png');
        position: absolute;
        top: 0;
        left: 0;
        z-index: 28;
        /* Asegura que este sea mayor que el valor de z-index del elemento anterior */
    }

    /**/
    /*Gatronomia*/

    #Gastronomia {

        align-items: center;
        justify-content: center;
        margin-top: 50px;
        text-align: center;

    }

    #Gastronomia h5 {
        color: #246161;
        font-size: 19px;
        font-weight: 400;
        font-family: "Manrope", sans-serif;
    }


    .contenedor {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 40px 0;
        display: flex;
        align-items: center;
    }

    .titulo {
        font-size: 24px;
        padding: 20px 0;
    }


    .contenedor-gatronomia {
        width: 70%;
        max-width: 1200px;
        padding: 40px 0;
        display: flex;
        transition: 3 all;
    }

    .contenedor-gatronomia2 {
        width: 30%;
        max-width: 1200px;
        flex-wrap: wrap;
    }

    .contenedor-gatronomia3 {
        width: 20%;
        max-width: 1200px;
        flex-wrap: wrap;
    }

    .contenedor-gatronomia .card2,
    .contenedor-gatronomia .card3 {
        width: 100rem;
        height: 420px;
        margin: 5px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


    .card {
        border-radius: 10px;
        width: 200px;
        height: 200px;
        font-weight: bold;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        margin: 5px;
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #experiencia {
        background-color: #F2FBFA;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    #carouselExampleControls {
        width: 100%;
        max-width: 846px;
        height: 100%;
        margin: 0 5px;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        width: 100%;
        max-width: 846px;
        margin-right: 5px;
    }

    .carousel-item:last-child {
        margin-right: 0;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #experiencia {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #carouselExampleControls {
        width: 846px;
        height: 500px;
        overflow: hidden;
    }

    .carousel-inner {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .carousel-item {
        min-width: 846px;
        flex: 0 0 auto;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .card {
        width: 300px;
        height: 200px;
        background-size: cover;
        margin-bottom: 20px;
    }


    .carousel-caption {

        background: rgba(0, 0, 0, 0.455);
    }

    .carousel-item img {
        position: relative;
        z-index: 0;
        /* Coloca la imagen detrás del texto */
    }

    .reserve-btn2 {
        display: none;
    }


    /**/

    .grid-card-container-food {

        margin-top: -150px;
        width: 295px;
        height: 40vh;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1.2rem;
        grid-auto-rows: 10rem;
        margin-left: 40px;
        margin-right: 40px;
    }

    .grid-card-food {

        position: relative;
        background: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 0;
    }

    #Gastronomia {
        margin-bottom: 150px;
        padding: 25px;
    }

    .grid-card-food:nth-child(1) {
        width: 28vw;
        height: auto;
        margin-left: 0;
    }

    .grid-card-food:nth-child(2) {
        width: 20vw;
    
    }

    .grid-card-food:nth-child(1) {
        grid-row: 1/3;
        background-image: url('../img/Inicio/Gastronomia/plato-equinoccio-servido-en-bandeja.webp');

    }

    .grid-card-food:nth-child(2) {
        grid-row: 1/3;
        background-image: url('../img/Inicio/Gastronomia/coctel-a-la-orilla-de-la-piscina.webp');

    }


    .grid-card-food:nth-child(3) {
        grid-row: 1/1;
        background-image: url('../img/Inicio/Gastronomia/plato-con-pasta-gastronomia-hotel-equinoccio.webp');
    }



    .grid-card-food:nth-child(4) {
        background-image: url('../img/Inicio/Gastronomia/staff-equinoccio-sosteniendo-plato-de-pizza.webp');

    }

    .grid-card-food:nth-child(5) {

        background-image: url('../img/Inicio/Gastronomia/staff-de-equinoccio-sirviendo-cafe-en-taza.jpg');
    }

    .grid-card-food:nth-child(6) {
        background-image: url('../img/Inicio/Gastronomia/pareja-sosteniendo-bebidas-a-la-orilla-del-lago.webp');
    }

    .grid-card-food:nth-child(3),
    .grid-card-food:nth-child(5) {
        width: 15vw;
        height: 60px;
        height: auto;
    }

    .grid-card-food:nth-child(4),
    .grid-card-food:nth-child(6) {
        width: 23vw;
    }

    /**/


    /**/
    #fondoFinal {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/Inicio/hotel-equinoccio-vista-hacia-el-muelle-y-lago.webp);
        height: 90vh;
        width: 100%;
        background-size: cover;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
    }

    #fondoFinal h1 {
        color: #ffffff;
        font-size: 48px;
        font-family: "Playfair Display", serif;
        width: 700;
        margin-bottom: 25px;
    }

    #fondoFinal p {
        color: #ffffff;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        width: 400;
        margin-bottom: 25px;
    }

    #fondoFinal .textFondo {
        text-align: center;
    }

    #fondoFinal button {
        margin: 0 auto;
    }



    footer {
        width: 100%;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: #072C2B;
    }

    footer .copyrigh {
        width: 100%;
        text-align: center;
        background: #072C2B;
        margin-top: 20px;

    }



    /*Cotactos*/

    #page-header1 h2 {
        color: #fff;
    }

    #page-header1 p {
        color: #fff;
    }

    #contact-details {
        display: flex;
        justify-content: space-between;
        padding: 100px 45px;
        margin-left: 45px;
        margin-bottom: 55px;
    }

    #contact-details .details {
        width: 40%;
    }

    #contact-details .details span,
    #form-details form span {
        font-size: 15px;

    }

    #contact-details .details h1 {
        font-size: 40px;
        font-weight: 700;
        color: #18181B;
        font-family: "Playfair Display", serif;
    }

    #contact-details .details h4 {
        font-size: 23px;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        padding-bottom: 15px;
    }

    #contact-details .details li {
        list-style: none;
        display: flex;
        padding: 10px;
    }

    #contact-details .details li i {
        color: #088178;
        padding: 10px;
    }

    #contact-details .map {
        margin-left: 35px;
        width: 55%;
        height: 500px;
        margin-bottom: 45px;
    }

    #contact-details .map iframe {
        width: 75%;
        height: 100%;
    }

    .fomrulario {
        background: #C9FFFD;
        color: #003E52;
    }


    /*Contacto*/

    #form-details form {
        width: 65%;
        align-items: center;
        margin: 0 5px;
    }

    #form-details {
        display: flex;
        justify-content: space-between;
        margin: 30px;
        padding: 80px;
        border: 1px solid #e1e1e1;
    }

    #form-details form textarea {
        width: 100%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }

    #form-details form button {
        background-color: #088178;
        color: #fff;
    }

    #form-details .people div {
        padding-bottom: 25px;
        display: flex;
        align-items: flex-start;
    }

    #form-details .people div img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        margin-right: 15px;
    }

    #form-details .people div p {
        margin: 0;
        font-size: 13px;
        line-height: 25px;
    }


    #form-details .people div p span {
        display: block;
        font-size: 19px;
        font-size: 600;
        color: #000;
    }

    /*Room*/



    #room-details .details {
        width: 40%;
    }

    .card-Habitacion {
        max-width: 70%;
        width: 100%;
        margin: 0 auto;
    }

    .card-habitacionesButon {
        display: flex;
        justify-content: center;
        gap: 20px;
    }


    #room-details .details h1 {
        font-size: 40px;
        font-weight: 400;
        color: #18181B;
        font-family: "Playfair Display", serif;
    }

    #room-details .details h4 {
        font-size: 23px;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        padding-bottom: 15px;
    }

    #room-details.details li {
        list-style: none;
        display: flex;
        padding: 10px;
    }

    #room-details .details li i {
        color: #088178;
        padding: 10px;
    }

    #room-details .map {
        margin-left: 35px;
        width: 55%;
        height: 500px;
        margin-bottom: 45px;
    }

    .text-detallesIndividual {
        color: #4C4D58;
        font-family: "Manrope", sans-serif;
        font-size: 18px;
        font-weight: 400;
    }

    .text-TituledetallesIndividual {
        color: #18181B;
        font-family: "Manrope", sans-serif;
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 28px;
        line-height: 40px;
    }

    /**/
    #room-details {
        display: flex;
        justify-content: space-between;
        padding: 100px 45px;
        margin-left: 45px;
        margin-bottom: 55px;
    }

    #room-details .details {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #room-details .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 55px;
    }

    .buttons hr {
        color: #D5F2EE;
        margin-bottom: 15px;
        width: 95%;
    }

    #room-details .buttons button {
        margin-top: 40px;
        width: 480px;
        text-align: left;
        background: #fff;
        color: #91939F;
        font-size: 21px;
        font-weight: 400;
        font-family: "Manrope", sans-serif;
    }



    #room-details .buttons button:hover {
        width: 480px;
        text-align: left;
        color: #003E52;
        border: #003E52;
    }



    #fondo-room {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(../img/Habitaciones/portada-hotel-equinoccio-vista-habitacion-deluxe.webp);
        height: 100vh;
        width: 100%;
        background-size: cover;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
    }

    #fondo-gastranomia {
        background-image: url(../img/Gastronomia/coctel-servido-a-la-orilla-de-la-piscina-hotel-equinoccio.webp);
        height: 100vh;
        width: 100%;
        background-size: cover;
        padding: 0 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
    }

    #room-details .buttons button:focus {
        color: #246161;
    }



    .fondo-room {
        margin-top: 125px;
        width: 70%;
    }


    #fondo-room h1 {
        color: #ffffff;
        font-size: 90px;
        font-family: "Playfair Display", serif;
        font-weight: 400;
        margin-bottom: 145px;
    }

    .map .card-body {
        border: 1px solid #91939F;
    }

    .map .card-title {
        font-size: 28px;
    }

    .map .card-text {
        font-weight: 400;
        font-size: 16px;
        font-family: "Manrope", sans-serif;
        color: #4C4D58;
    }

    .map .card-body button {
        width: 100%;
        justify-content: center;
    }
    .map .card-body a {
        width: 100%;
        color: #003E52;
        background-color: #C9FFFD;
        justify-content: center;
    }

    .map .card-body a:hover {
        width: 100%;
        color: #C9FFFD;
        background: #003E52;
        justify-content: center;
    }

    /**/

    /*Habitacion Indivual Detalles*/

    .categories .container-fluid {
        margin: 10px;
        margin-left: 60px;
    }
    body{
        overflow-x: hidden;
    }

    .categories .container-fluid {
        width: 120%;
     
    }

    .return-room,
    .title-room {
        margin-left: 70px;
    }

    .categories .return-room {
        margin-top: 130px;
    }

    .categories .title-room {
        font-size: 48px;
        font-weight: 400;
        color: #18181B;
        font-family: "Playfair Display", serif;
    }

    .categories .return-room a {
        font-weight: 400;
        color: #18181B;
        font-family: "Protest Display", sans-serif;
        text-decoration: none;
    }

    .contact-details .card-title-habitacion h5 {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 24px;
    }

    .map .row-row {

        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -12px;
    }


    /*gastranomia sec*/

    #gastramonia-comida {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

    }

    .titlemain2 {
        color: #fff;
        font-family: "Playfair Display", serif;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 25px;
    }


    .fe-box-gastronomia p span {
        color: #165954;
        width: 18px;
    }

    .fe-box-gastronomia h6 {
        color: #0D2426;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
    }

    .fe-box-gastronomia .textgastronomia {
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    #fondo-gastranomia .fondo-title-gastranomia {
        font-family: "Playfair Display", serif;
        color: #fff7f7;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
    }

    #fondo-gastranomia .text-container {
        margin-left: 495px;

    }

    .details .gastronomia-title {
        font-size: 35px;
        font-family: "Playfair Display", serif;
        color: #18181B;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
    }

    .fe-box-gastronomia {

        width: 320px;
        height: 160px;
        text-align: center;
        padding: 25px 15px;
        background: #F2FBFA;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.033);
        border: 1px solid #F2FBFA;
        border-radius: 4px;
        margin: 56px;
    }

    #gastramonia-Equina {
        margin-top: -125px;
        margin-left: 105px;
        margin-bottom: 135px;
    }

    #gastramonia-Equina .title-gastronomia-qeuin {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 35px;
    }

    .textGatronomia {
        margin-top: 28px;
        color: #18181B;
        font-size: 28px;
        font-weight: 400;
        text-align: 39px;
        font-family: "Manrope", sans-serif;
    }

    #Galeria #contact-details {
        margin-bottom: -380px;
    }

    .container-galeria {
        margin-right: 40px
    }


    #fondo-gastranomia1 {
        background-image: url(../img/Gastronomia/banner-gastronomia-equinoccio-cafe-postres.jpg);
        height: 100vh;
        width: 90%;
        margin: 60px;
        background-position: 1px;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
        padding: 25px;
    }

    #fondo-gastranomia2 {
        background-image: url(../img/Gastronomia/banner-piscina-hotel-equinoccio.webp);
        height: 80vh;
        width: 100%;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
        left: 0;
        z-index: 1;
    }

    .contendor-gastronomia {
        padding: 25px;
        width: 40%;
        color: #070707;
        background: #ffffff;

    }

    .texto-gastronomia {
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .fondo-title-gastranomia2 {
        font-size: 40px;
        font-weight: 400;
        font-family: "Playfair Display", serif;
    }

    .textTop{
        margin-top: -35px;
    }

    /**/
    .menufooter {
        margin-top: -50px;
        margin-bottom: 25px;
    }

    .menufooter hr {
        color: #B8B9C1;
    }

    .return-room-footer {
        margin-left: 55px;

    }

    .menufooter .return-room-footer2 a {
        margin-right: 50px;
    }

    .menufooter .return-room-footer2 a,
    .menufooter .return-room-footer a {
        color: #737584;
        text-decoration: none;
        font-family: "Manrope", sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    .fe-box-gastronomia {

        width: 25%;
        height: 150px;
        text-align: center;
        padding: 25px 15px;
        background: #F2FBFA;
        box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.033);
        border: 1px solid #F2FBFA;
        border-radius: 4px;
        margin: 56px;
    }

    @media only screen and (max-width: 1000px) {
        #Galeria #contact-details .map,#Galeria #contact-details .details {
          
            margin-left: 25px;
    
        }
        #gastramonia-Equina {
            margin-top: -125px;
            margin-left: 35px;
            margin-bottom: 135px;
        }
       
        
    #fondo-gastranomia1 {
       
      height: 50vh;
        
        margin: 60px;
        background-position: 1px;
    
    }
      
        .grid-card-container {
            margin-top: 50px;
        }

        .contenedor-gatronomia {
            display: none;

        }

        .reserve-btn {
            display: none;
        }

        .reserve-btn2 {
            margin-top: 45px;
            display: block;
        }

        #Gastronomia h5 {

            text-align: center;
        }

        #Gastronomia {

            text-align: start;

        }

        #carouselExampleIndicators {
            display: block;
            width: 345px;
        }

        .carousel-item img {
            width: auto;
            height: auto;
            object-fit: cover;
        }

        #Galeria #contact-details {
         
            margin-left: -15px;
          
        }

        #GaleriaHome .grid-card-container{
            
            margin-top: 90px;
        }

        /*Fotos de lugar*/
        .grid-card-container {

            width: 195px;
            height: 40vh;
        
        }


        .grid-card-container {
            margin: 0;
            margin-left: 85px;
        }
    
        #Galeria {
            margin-bottom: 50px;
            padding: 25px;
        }
    
        .grid-card:nth-child(1),
        .grid-card:nth-child(2) {
            width: 15px;
            padding-left: 200px;
            margin-left: 0;
        }
    
    
        .grid-card:nth-child(3) {
            width: 25vw;
        }
    
        .grid-card:nth-child(4) {
            width: 37vw;
            height: auto;
        }
  
        /*room*/

        /*galeria*/
      

        #Galeria{
            margin-bottom: -210px;
        }

        
            
      
    }


    @media only screen and (min-width: 1000px) {
        .grid-card-container {
            width: 105px;
            height: 40vh;
        }
        .grid-card-container {
            margin: 0;
            margin-left: 30px;
        }

        #GaleriaHome{
            margin-left: 5px;
        }

        .fe-box-gastronomia {
   
            margin-left: -20px;
        }

        #GaleriaHome #contact-details {
            margin-bottom: -390px;
            margin-left: -15px;
        }
        .contenedor-gatronomia {

            display: flex;
        }

        #carouselExampleIndicators {
            display: none;
        }

        .contenedor-gatronomia {
            margin-left: -125px;
            width: 80%;
        }
        #Gastronomia {
          
            margin-bottom: 50px;
            padding: 25px;
            margin-left: 25px;
        }
        #Gastronomia {
             margin-bottom: 10px;
            padding: 25px;
            margin-left: -25px;
        }
        .grid-card-container-food {

            width: 195px;
            height: 40vh;
            margin-left: 60px;
            margin-right: 40px;
        }

        #gastramonia-comida {
           
            margin-top: 175px;
            
        }


        .fe-box-gastronomia {
           
            width: 25%;
            height: 150px;
            text-align: center;
            padding: 25px 15px;
            background: #F2FBFA;
            
            border-radius: 4px;
            margin: 25px;
         
        }

        
        .grid-card:nth-child(1),.grid-card:nth-child(2){
            
            width: 210px;
        }

        .grid-card-container {
            width: 595px;
            height: 60vh;
            margin: 50px;
         
        }
    }


    @media (max-width: 1000px) {
    
        .fe-box-gastronomia{
            width: 230px;
            margin-left: -30px;
        }
        
        #Galeria .textoGaleria {

            margin-left: -10px;
        }

        #Galeria #contact-details {
            margin-bottom: -550px;

        }

        #Galeria #contact-details p {

            margin-left: -50px;

        }

        footer {
            justify-content: center;
            text-align: center;
        }

        footer .nav,
        footer .col-md-4 {
            flex-basis: 100%;
        }

        footer .nav {
            justify-content: center !important;
        }

        #contact-details {
            flex-direction: column;
        }

        #contact-details .details {
            width: 100%;
            margin-bottom: 30px;
        }

        #contact-details .map {
            width: 100%;
        }

        /**/
        #room-details {
            flex-direction: column;
        }

        #room-details .details {
            width: 100%;
            margin-bottom: 30px;
        }

        #room-details .card-room {
            width: 100%;
        }

        .container-fluid {
            display: none;
        }
  
    }
    @media (max-width: 1400px) {
       /* .fe-box-gastronomia{
            margin-left: -120px;
           
        }*/
 
    }




    @media (max-width: 1200px) {
        .fe-box-gastronomia{
           /* width: 230px;*/
            margin-left: -10px;
          
        }
        #Room .fe-box{
            width: 320px;

        }

     
        .material-symbols-outlined {
        
            font-size: 5px;
       
        }

        .fe-box .iconsRoomIndex p {
            
            font-size: 10px; 
           
        }

        .textRoom{
            font-size: 14px;
        }
        #Gastronomia {
            
            padding: 25px;
            margin-left: -45px;
         
        }


        #room-details .map {

            margin-left: -55px;
            width: 650px;
            height: 600px;
            margin: auto;
            margin-bottom: 45px;
        }

        .card-Habitacion {
            width: 75%;
        }

        #gastramonia-comida {
            margin-top: 150px;
        }

        .grid-card-container {
            
            margin-top: 50px;
        }

        .grid-card-container {
         
            margin: 0;
            margin-left: 25px;
        }

        .details .gastronomia-title {

            margin-left: -45px;
        }
        .grid-card-container {
            margin: 0;
             margin-left: -10px;
        }

        .grid-card-container {
            margin-top: -150px;
            width: 195px;
        }
    }



    @media (max-width: 768px) {


        #Galeria #contact-details {

            margin-bottom: -350px;

        }

        #Galeria #contact-details h4 {

            margin-left: -50px;

        }

        #Galeria #contact-details p {

            margin-left: -70px;

        }

        .contenedor-gatronomia {
            flex-direction: column;
            align-items: center;
        }

        .contenedor-gatronomia2,
        .contenedor-gatronomia3 {
            width: 100%;
        }

        #fondo-cotacto {
            height: 420px;

        }

        #contact-details .map {
            margin-left: -35px;
            width: 100%;
            height: 500px;
            margin-bottom: -255px;
        }

        #contact-details .map iframe {
            width: 78%;
            height: 100%;
        }

        #contact-details .map {
            margin-left: 6px;
            margin-bottom: -35px;
        }

        #contact-details .map iframe {
            width: 408px;
            height: 350px;
        }

        #gastramonia-comida {
            margin-top: 50px;
        }

        #Galeria #contact-details .map {
            margin-bottom: -150px;
        }

        #room-details .map {

            margin-left: -35px;
            width: 550px;
            height: 600px;

            margin-bottom: -35px;
        }
    }

    @media (max-width: 668px) {
        #room-details .map {
            margin-left: -55px;
            width: 530px;

            height: 500px;
            margin-bottom: 45px;
        }

        #Galeria #contact-details {
            margin-bottom: -280px;
        }

        #Galeria #contact-details h4 {
            margin-left: -50px;
        }

        #fondo-cotacto {
            height: 420px;

        }

        #fondo h1 {
            margin-top: -225px;
        }
    }


    @media (max-width: 478px) {

        #fondo h1 {
            font-size: 45px;
        }

        #fondo .titlePmain {
            font-size: 15px;
        }

        #fondo-cotacto {
            height: 320px;

        }

        #Galeria #contact-details {
            margin-bottom: -190px;
        }

        #Galeria #contact-details h4 {
            margin-left: 20px;
            font-size: 15px;
        }

        #Galeria #contact-details p {
            margin-left: 0px;
            font-size: 10px;
        }

        .navbar-light {
            margin-right: -58px;
        }


        #contact-details {
            margin-top: -25px;
            margin-left: -25px;
        }


        #contact-details .details h1 {
            font-size: 28px;
            font-weight: 400;
            color: #18181B;
            font-family: "Playfair Display", serif;
        }

        #contact-details .details h4 {
            font-size: 20px;
            font-family: "Manrope", sans-serif;
            font-weight: 400;
            padding-bottom: 15px;
        }

        #contact-details .details li i {
            color: #088178;
            padding: 10px;
        }

        #contact-details .map {
            margin-left: 6px;
            margin-bottom: -35px;
        }

        #contact-details .map iframe {
            width: 308px;
            height: 350px;
        }

        #room-details .map {
            margin-left: -35;
            width: 390px;
            height: 300px;
            margin-bottom: 45px;
        }

    }